// FONTS \\
$title: 'eurostile-extended', sans-serif;
$text: 'degular', sans-serif;

//FONT-SIZE//

//TEKST//
$titledesktop: 3rem;
$titletablet: 2.8rem;
$titlemobile: 2rem;


// TEKST //
$textdesktop : 18px;
$texttablet: 16px;
$textmobile: 16px;

// // COLORS \\
$primary:  #000000;
$secondary: #FFFFFF;


// // FONT-WEIGHT \\

$weightnav : 600;



